<body class="main">
  <div class="row bolder textcolor">
    <div class="col-md-5 align-self-center color">
      <h1>Log in</h1><br/>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div><br/>
        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div><br/>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %><br/>
        <div class="actions">
          <%= f.submit "Log in",class:"btn btn-primary" %>
        </div>
      <% end %><br/>
      <%= render "devise/shared/links" %>
      </div>
      <div class="col-md-5 align-self-center center ">
        <h1 class="whitetext text">
        <span class="redtext textsize">R
        </span><span>e</span>
        <span>a</span>
        <span>l</span></br>
        <span class="textsize">T</span>
        <span class="redtext">i</span>
        <span>m</span>
        <span>e</span></br>
        <span class="textsize">C</span>
        <span>h</span>
        <span class="redtext">a</span>
        <span>t</span></br>
        <span class="redtext textsize">F</span>
        <span>o</span>
        <span>r</span></br>
        <span class="textsize">M</span>
        <span class="redtext">a</span>
        <span>t</span>
        <span>c</span>
        <span>h</span>
        </h1>
        <%= javascript_pack_tag 'animete' %>
      </div>
    </div>
  </div>
</body>