<% if @room.id==1 %> 
  <body class="mainroom1">
  <% elsif  @room.id==2 %>
  <body class="mainroom2">
  <% elsif  @room.id==3 %>
  <body class="mainroom3">
  <% else %>
  <body class="subroom">
<% end %>
  <div class="row bolder textcolor">
    <div class="col-md-8 align-self-center color center">
      <h4 class="container bolder footercenter"><%= @room.name %></h1></br>
      <div id="messages" data-room_id="<%= @room.id %>">
        <%= render @messages %>
      </div>
    </div>
  </div></br></br>
  <footer class="footer fixed-bottom" style="background: rgba(255,255,255,0.8);">
    <div class="footercenter">
      <%= label nil, nil, 'Enterキーを押してね！(※空白NG)　' %>
      <%= text_field nil, nil, 'data-behavior': 'room_speaker', :size => "150" %>
    </div>
  </footer>
</body> 